<div ng-init="$ctrl.devices=[];">
    <div class="genDevice-btn-group">
        <button type="button" class="btn btn-default" ng-click="$ctrl.readFromServer()">Load</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.writeToServer()">Save</button>

        <button type="button" class="btn btn-default" ng-click="$ctrl.import()">Import</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.export()">Export</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.clear()">Clear</button>
    </div>
    <div class="generic-devices">
        <h3>Actuators</h3>
        <div ng-cloak class="generic-device" ng-repeat="device in $ctrl.devices">
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom md-selected="device.selectedIndex">
                    <md-tab md-on-select="$ctrl.onTabSelected(device)" label="{{device.data.displayName && device.data.displayName != '' ? device.data.displayName : device.data.id}}">
                        <md-content>
                        </md-content>
                    </md-tab>
                    <md-tab md-on-select="$ctrl.onTabSelected(device)">
                        <md-tab-labe>
                            <span class="activ-{{device.data.active ? 'true' : 'false'}}">{{device.data.active ? 'Active' : 'Inactive'}}</span>
                        </md-tab-labe>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <div class="activeate-button">
                                    <input class="adopt-checkbox" type="checkbox" id="activate_{{device.data.id}}" ng-true-value="true" ng-false-value="false" ng-change="$ctrl.updateDevice(device)" ng-model="device.data.active">
                                    <label for="activate_{{device.data.id}}">{{device.data.active ? 'Deactivate' : 'Activate'}}</label>
                                </div>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                    <md-tab md-on-select="$ctrl.onTabSelected(device)" label="Protocol: {{device.data.protocolConf.type}} {{device.data.protocolConf.conf.method}}">
                        <md-content class="md-padding protocol-config">
                            <div>
                                <div>Protocol-Type</div>
                                <select ng-change="$ctrl.changeProtocolType(device)" ng-model="device.data.protocolConf.type">
                                    <option value="REST-SERVER">REST-SERVER</option>
                                    <option value="COAP-SERVER">COAP-SERVER</option>
                                    <option value="MQTT-CONSUMER">MQTT-CONSUMER</option>
                                    <option value="MQTT-RESPONSIVE-CONSUMER">MQTT-RESPONSIVE-CONSUMER</option>
                                </select>
                            </div>
                            <div ng-if="device.data.protocolConf.conf.method !== undefined">
                                <div>Method</div>
                                <select  ng-model="device.data.protocolConf.conf.method">
                                    <option value="post">POST</option>
                                    <option value="put">PUT</option>
                                </select>
                            </div>
                            <div ng-if="device.data.protocolConf.conf.path !== undefined" >
                                <div>Path</div>
                                <input type="text" ng-model="device.data.protocolConf.conf.path">
                            </div>
                            <div ng-if="device.data.protocolConf.conf.url !== undefined" >
                                <div>URL</div>
                                <input type="text" ng-model="device.data.protocolConf.conf.url">
                            </div>
                            <div ng-if="device.data.protocolConf.conf.topic !== undefined" >
                                <div>Topic</div>
                                <input class="short" type="text" ng-model="device.data.protocolConf.conf.topic">
                            </div>
                            <div ng-if="device.data.protocolConf.conf.response_topic !== undefined" >
                                <div>Response-Topic</div>
                                <input class="short" type="text" ng-model="device.data.protocolConf.conf.response_topic">
                            </div>
                            <div ng-if="device.data.protocolConf.conf.qos !== undefined" >
                                <div>QoS Level</div>
                                <input type="number" ng-model="device.data.protocolConf.conf.qos">
                            </div>
                            <div ng-if="device.data.protocolConf.conf.user !== undefined" >
                                <div>User</div>
                                <input type="text" ng-model="device.data.protocolConf.conf.user">
                            </div>
                            <div ng-if="device.data.protocolConf.conf.pw !== undefined" >
                                <div>Password</div>
                                <input type="text" ng-model="device.data.protocolConf.conf.pw">
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab md-on-select="$ctrl.onTabSelected(device)" label="Parser">
                        <md-content class="md-padding">
                            <div    ui-ace="{
                                              useWrapMode : true,
                                              showGutter: true,
                                              mode: 'javascript',
                                              onLoad: device.parserAceLoad,
                                              onChange: device.parserAceChange,
                                              advanced: {
                                                  enableSnippets: true,
                                                  enableBasicAutocompletion: true,
                                                  enableLiveAutocompletion: true
                                              }
                                            }" ></div>
                        </md-content>
                    </md-tab>
                    <md-tab md-on-select="$ctrl.onTabSelected(device)" label="States">
                        <md-content class="md-padding">
                            <div class="acutator-state" ng-repeat="state in device.data.states">
                                <div class="actuator-state-span">Regex: <input type="text" ng-model="state.regex"></div>
                                <div class="actuator-state-span">Response: <textarea class="actuator-response" ng-model="state.response"></textarea></div>
                                <div class="actuator-state-span">
                                    <input class="adopt-checkbox" type="checkbox" id="adopt_{{device.data.states.indexOf(state)}}_{{device.data.id}}" ng-true-value="true" ng-false-value="false" ng-model="state.adopt">
                                    <label for="adopt_{{device.data.states.indexOf(state)}}_{{device.data.id}}">Adopt</label>
                                </div>
                                <div class="actuator-state-span">
                                    <button type="button" ng-click="device.stateUp(state)">&uarr;</button>
                                    <button type="button" ng-click="device.stateDown(state)">&darr;</button>
                                </div>
                                <div class="actuator-state-span">
                                    <button type="button" ng-click="device.removeState(state)">Remove</button>
                                </div>
                            </div>
                            <div class="actuator-state-span">
                                <button type="button" ng-click="device.addState()">Add</button>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab md-on-select="$ctrl.onTabSelected(device)" label="Name">
                        <md-content class="md-padding">
                            <div>
                                ID: {{device.data.id}}
                            </div>
                            <div>
                                Displayed Name: <input class="device-id" ng-model="device.data.displayName"/>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab md-on-deselect="$ctrl.deactivateMonitoring(device)" md-on-select="$ctrl.onTabSelected(device); $ctrl.activateMonitoring(device)" label="Monitoring">
                        <md-content class="md-padding sensor-monitoring">
                            <div>
                                current state: {{device.currentState}}
                            </div>
                            <div class="monitoring-logs">
                                <div class="log" ng-repeat="log in device.logs">{{log.time}} |
                                    <span class="monitor-multiline" ng-if="log.topic === 'command'">
                                        received command: "{{log.msg.payload}}"
                                        <span>parsed: "{{log.msg.parsed}}"</span>
                                        <span ng-if="log.msg.state.adopt">new state: "{{log.msg.parsed}}"</span>
                                        <span ng-if="!log.msg.state.adopt">no new state</span>
                                        <span>response: "{{log.msg.state.response}}"</span>
                                    </span>
                                    <span ng-if="log.topic !== 'command'">{{log.topic === "protocol_error" ? "error: " : ""}}{{log.msg}}</span>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab md-on-select="$ctrl.onTabSelected(device)" label="Delete">
                        <md-content class="md-padding">
                            <button type="button" class="btn btn-default" ng-click="$ctrl.removeDevice(device)">Remove Device</button>
                        </md-content>
                    </md-tab>
                    <md-tab label="Save" md-on-select="$ctrl.updateDevice(device)">
                        <md-content class="md-padding">
                            {{device.savingState}}
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
        <div class="generic-device-add addButton" ng-click="$ctrl.addDevice()">+</div>
    </div>
</div>